<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Profile</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
</head>
<body>
<form th:action="@{/users/edit/current}" th:method="get" th:object="${user}">
  <div data-theme="aqua" class="flex flex-col justify-center items-center min-h-screen">
    <div class="card w-96 bg-white shadow text-primary-content">
      <div class="card-body">
        <h2 class="card-title justify-center">Edit Profile</h2>

        <div class="flex justify-center">
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text text-black">What is your username?</span>
            </label>
            <input type="text" placeholder="Type your username here" name="username" class="input input-bordered input-info w-full max-w-xs bg-white" th:field="*{name}" />
          </div>
        </div>

        <div class="flex justify-center">
          <div class="form-control w-full max-w-xs justify-center">
            <label class="label">
              <span class="label-text text-black">What is your password?</span>
            </label>
            <input type="password" placeholder="Type your password here" name="password" class="input input-bordered input-info w-full max-w-xs bg-white" th:field="*{password}" />
          </div>
        </div>
        <div class="card-actions justify-center">
          <button class="btn btn-success">Save</button>
        </div>
        <div class="card-actions justify-center">
          <a th:href="@{/users/view/current}"><button class="btn btn-error">Cancel Edit</button></a>
        </div>
    </div>
  </div>
  </div>
</form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--  <head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <title>Edit Profile</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1>Edit Profile</h1>-->
<!--    <form th:action="@{/users/edit/current}" th:method="get" th:object="${user}">-->
<!--      <div class="form-group">-->
<!--        <label for="username">Username</label>-->
<!--        <input type="text" id="username" name="username" th:field="*{name}" />-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="password">Password</label>-->
<!--        <input type="password" id="password" name="password" th:field="*{password}" />-->
<!--      </div>-->
<!--      <button type="submit">Save</button>-->
<!--    </form>-->
<!--    <a th:href="@{/users/view/current}"><button>Batal Edit</button></a>-->
<!--  </body>-->
<!--</html>-->
