<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>List Product</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="font-family: Cambria, sans-serif; font-size: 20px;">
  <div data-theme="aqua" class="min-h-screen">
    <h1 style="color: white; text-transform: uppercase; font-weight: bold; text-align: center; font-size: 50px;"> List
      Product </h1>

    <div class="flex justify-center">
      <div class="flex-none gap-2">
        <div class="form-control">
          <form th:action="@{/products/getByName}" method="get">
            <label for="keyword">Filter by name : </label>
            <input style="margin: 5px;" class="input input-bordered w-24 md:w-auto bg-white shadow" id="txtSearch"
              type="text" name="keyword" placeholder="Search your product name here" />
            <button class="btn btn-success">Filter</button>
          </form>

          <div class="flex items-center justify-between">
            <div>
              <form th:action="@{'/products/getByPriceRange'}" method="get">
                <label for="keyword">Filter by price : </label>
                <input style="margin: 5px;" class="input input-bordered w-24 md:w-auto bg-white shadow" id="txtSearch"
                  type="text" name="minPrice" placeholder="Input your mininimal price" />
                <input style="margin: 5px;" class="input input-bordered w-24 md:w-auto bg-white shadow" id="txtSearch"
                  type="text" name="maxPrice" placeholder="Input your maximal price" />
                <button class="btn btn-success">Filter</button>
              </form>
            </div>
            <div>
              <a th:href="@{/products/add}" class="btn btn-info btn-sm mb-3">Add Product</a>
            </div>
          </div>


          <table style="font-size: 20px; margin: 10px;" align="center" border="1"
            class="table bg-white shadow table-striped table-responsive-md text-black">
            <thead style="font-size: 20px;" align="center" class="text-black">
              <tr>
                <th>Product Name</th>
                <th>Product Image</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody align="center">
              <tr th:each="product : ${products}">
                <td th:text="${product.productName}"></td>
                <td> <img th:src="${product.productImage}" alt="Product Image" style="width: 100px; height: 100px;" />
                </td>
                <td th:text="${product.productDescription}"></td>
                <td th:text="${product.productPrice}"></td>
                <td> <button th:onclick="'addToCart(' + ${id} + ')'" class="btn btn-info"> Add To Cart </button> </td>
                <td><a th:href="@{/product/delete/{id}(id=${product.id})}" class="btn btn-danger"> Delete Product </a>
                <td><a th:href="@{/product/update/{id}(id=${product.id})}" class="btn btn-danger"> Update Product </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>

</html>