<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div data-theme="aqua" class="flex flex-col justify-center items-center min-h-screen">
      <div th:if="${param.success}">
        <div class="alert alert-success mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
          <span>You've successfully registered</span>
        </div>
      </div>
      <div class="card w-96 bg-white shadow-xl py-4">
        <h1 class="text-center text-3xl text-black font-bold">Registration</h1>
        <div class="card-body">
          <form method="POST" th:action="@{/registration}" th:object="${user}">
            <div class="flex flex-col text-black gap-4">
              <div class="flex flex-col">
                <label for="name">Name</label>
                <input type="name" name="name" id="name" class="rounded p-1 bg-white border-black border-2" th:field="*{name}" />
              </div>
              <div class="flex flex-col">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="rounded p-1 bg-white border-black border-2" th:field="*{email}" />
              </div>
              <div class="flex flex-col">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="rounded p-1 bg-white border-black border-2" th:field="*{password}" />
                <p>Already registered? <a th:href="@{/login}" class="text-primary hover:underline hover:text-blue-900">Login here</a></p>
              </div>
              <div class="flex w-full justify-center">
                <button class="btn btn-primary px-10">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
